.pet-list-container {
  max-width: 800px;
  margin: 0 auto;
}

.horizontal-pet-list {
  display: flex;
  overflow-x: auto;
  margin-top: 10px;
}

.pet-card {
  border: 1px solid #ccc;
  padding: 30px;
  margin-right: 10px;
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.pet-card h2 {
  margin-bottom: 10px;
}

.image-container {
  flex-grow: 1; /* Take remaining space within the pet-card */
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Align items horizontally in the center */
}

.image-container img {
  max-width: 100%; /* Make the image responsive and fit within its container */
  max-height: 100%; /* Set a maximum height to maintain consistency */
}

