.pet-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.vertical-pet-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.pet-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%; /* Full width */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.pet-card h2 {
  margin-bottom: 5px;
}

.image-container {
  width: 100%; /* Full width */
  margin-bottom: 10px; /* Space below the image */
}

.image-container img {
  width: 100%; /* Image takes full width of the container */
  height: auto; /* Keep the image aspect ratio */
}

.pet-description {
  text-align: left; /* Align text to the left */
  width: 100%; /* Full width */
}

.pagination{
  margin-bottom: 50px; /* Adjust this value based on your footer's height */
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}