/* Add or update styles in your existing CSS file */
.pet-care-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  text-align: center;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Assuming your filter and sort components have specific classes */
.filter-component, .sort-component {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.horizontal-provider-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.provider-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: left; /* Change text alignment for the cards */
}

.provider-card h2, .provider-card p {
  padding: 10px; /* Add padding to match design */
}

.image-container {
  height: 200px; /* Adjust height if necessary */
  /* Add other styles based on your needs */
}

/* Add styles for the footer and navigation bar based on the design */
.nav-bar {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space out nav items and user section */
  align-items: center; /* Align items vertically */
  padding: 0 20px; /* Add some padding on the sides */
  margin-right: 10px
  /* Your styles for the navigation bar */
}

.footer {
  /* Your styles for the footer */
}
