.advice {
 
    margin: 40px 50px;
    border: solid;
    border-radius: 20px;
}

.adviceHeader {
    text-align: center;
    margin-bottom: 30px; /* Space between header and columns */
}

.check_out {
    font-size: 3.5rem;
    margin-top: 60px;
}

.get_the_inside {
    font-size: 1.5rem;
}

.twoColumns {
    display: flex;
    flex-wrap: wrap;
    gap: 40px; /* Space between columns */
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}

.column {
    flex: 1;
    min-width: 300px; /* Ensures columns stack on smaller screens */
    max-width: 500px;
    box-sizing: border-box;
}
.column h4 {
    font-size: 1.5rem;
}
.column p {
    margin-top: 10px;
    font-size: 1.25rem;
    line-height: 1.25;
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .twoColumns {
        flex-direction: column;
        width: 60%;
    }
    .advice {
        margin: 0;
    }
}
