.big_container {
  position: relative;
}

.homepage_image {
  display: block;
  width: 100%;
  height: 80vh;
  object-fit: fill;
  object-position: center top;
  margin: 0;
  padding: 0;
}

.overlay_text {
  position: absolute;
  bottom: 90px;
  left: 20%;
  text-align: left;
  color: aliceblue;
  padding: 10px 0;
  font-size: 2rem;
  font-weight: 800;
}

.search_bar_container {
  position: absolute;
  bottom: 0; /* Aligns the search bar to the bottom of the parent container */
  left: 0;
  width: 100%; /* Ensures the search bar stretches across the entire container */
  display: flex;
  justify-content: center; /* Center the search bar horizontally */
  align-items: center; /* Center the search bar vertically */
}

/* Styling two search bars*/
.search_bar {
  background-color: rgb(8, 199, 199);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  border-radius: 20px 20px 0 0;
}

.search_bar input {
  padding: 0.5rem;
  width: 30rem;
  height: 2.75rem;
  transition: border-color 0.3s ease-in-out;
  background-color: #f4f4f4;
  font-size: 1.25rem;
}

.search_bar input:focus {
  outline: none;
  border: solid 4px rgb(11, 139, 139);
}

.type_search {
  border-radius: 20px 0 0 20px;
  border: none;
  border-right: #ccc solid;
}

.location_search {
  border: none;
  border-radius: 0 20px 20px 0;
  border-left: hidden;
}

/*Styling the search bar button*/
.search_bar button {
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 10px;
  transition: opacity 0.5s ease-in-out;
  font-size: 1.5rem;
}
.searchIcon {
  margin-right: 10px;
  font-size: 25px;
}

.search_bar button:hover {
  opacity: 0.7;
}

.under_container {
    margin: 0;
    
}
.under_container hr {
    margin: 0;
    background-color: rgb(8, 199, 199);
    height: 70px;
    border: none;
}