
.footer {
    text-align: center;
    background-color: rgb(8, 199, 199);
    margin: 0;
    transition: background-color 0.5 ease;
  
}

.social_icons {
    font-size: 3.2rem;
    padding-top: 40px;
    
   
}

.social_icons a {
    margin-right: 15px;
    color: hsl(0, 0%, 12%);
    transition: color 0.5s ease opacity 0.2s ease;
}

.social_icons a:hover {
    color: blue;
    opacity: 0.6;
}

.footer p {
    padding-top: 10px;
    font-size: 1.2rem;
}


